/*  Font: taviraj  700  */
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@700&display=swap');

/* Font: Proza Libre 700 */
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@700&display=swap');

/* Font: Sarala 700 */
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');

:root{
    --titulo: 'Taviraj', serif;
    --subTitulo: 'Proza Libre', sans-serif;
    --texto: 'Sarala', sans-serif;
    --tamanho: 700;

    --fundo:#131B23;
    --laranja:#FE7F2D;
    --verdeClaro:#61988A;
    --verdeEscuro:#4e7a6f;
    --cinza:#627C85;
    --branco:#b1b4b7;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    
}
body{
    background-color: var(--fundo);
}
header{
    display: flex;
    align-items: center;
    padding: 5% 0;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.cabecalho__divP{
    display: flex;
    align-items: center;
    gap:2%
}

.cabecalho__div__img{

    width: 79px

}

.cabecalho_titulo{

    font-family: var(--titulo);
    font-weight: var(--tamanho);
    color:white;
    font-size: 2.5rem;
    

}
.cabecalho__divB{
    display: flex;
    text-align: center;
    gap:30px;
}
.cabecalho_button{

    color: black;
    text-decoration: none;
    border-radius:20px;
    padding:3% 7.5%;
    font-family:    var(--subTitulo) ;
    font-weight: var(--tamanho);
    font-size:1.4rem;
    background-color: var(--verdeClaro);

}
.principal{
    display: flex;
    flex-direction: column;
    gap:25px
}
.principal__div{
    background-color:var(--branco) ;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 12.5vw 0px;
    font-family: var(--subTitulo);
    font-weight: var(--tamanho);
    
}
.principal__div2{
    color:white;
    display: flex;
    justify-content: space-around;
    font-size:1.9rem;
    font-family: var(--subTitulo);
    font-weight: var(--tamanho);
}

.AreaDeButtons{
    display: flex;
    justify-content: space-around;
   
}
.buttons__busca{
    color: black;
    text-decoration: none;
    border-radius:20px;
    padding:1% 5%;
    font-family:    var(--subTitulo) ;
    font-weight: var(--tamanho);
    font-size:1.4rem;
    background-color: var(--verdeClaro);
    
    
}
.buttons__busca:hover, .cabecalho_button:hover{
    background-color: var(--verdeEscuro);
}

#press_color{
    background-color: #3e6159;
}

.Masculino_Feminino{
    text-decoration: none;
    color:white;
    font-family: var(--texto);
    font-size: 1.2rem;
}
.principal__sessao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.5%;
    gap: 50px;
}

.principal__sessao__div__img{
    width: 20%;
}

.principal__sessao__div__interno{
    display: flex; 
    gap:7vh;
    
    justify-content: space-between;
    overflow: hidden;
    
    
    
}
.principal__sessao__div__interno:hover{
    
   overflow-x: auto; 
    
}

.principal__sessao__div__interno::-webkit-scrollbar{
    
    height: 8px;
}

.principal__sessao__div__interno::-webkit-scrollbar-track{
    background-color: #88a19b00;
}
.principal__sessao__div__interno::-webkit-scrollbar-thumb{
    background-color: #f7f7f743;
    
    
}
::-webkit-scrollbar{
    width: 1.5vh;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.631);
}
::-webkit-scrollbar-track{
    background-color: white;
}
.principal__sessao__div__interno__span{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:white;
    font-family: var(--texto);
    font-size: 1.5rem;

}
.span__img{
    width:234px;
    border-radius:10%;
}
/* .rodape{
     background-color: var(--cinza);
    padding: 184px 40px; 
} */
.rodape__div{
    background-color: var(--cinza);
    padding: 5% 40px;
    display: flex;
    font-family: var(--texto);
    font-weight: var(--tamanho);
    justify-content: space-around;
    
}
.buscar_box{
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
}
.ativar{
    width: 400px;
    border-radius:0%;
}
.Buscas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11%;
}
.lupa_buscar, .btn_buscar{
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.2rem;
    cursor:pointer;
}
.btn_buscar{
    font-size:1.2rem;
    margin-left:15px;
}
.input_buscar {
    position: absolute;
    left: 80px;
    width: calc(100% - 165px);
    height: 100%;
    line-height: 50px;
    
}
.input_buscar input{
   border:0; 
   outline:0;
   font-size:0.9rem;
}

@media(max-width:1128px){
    /* mudando o tamanho das fonts */
    .cabecalho_titulo{

       
        font-size: 2rem;
        
    
    }
    .principal__div2{
       
        font-size:1.5rem;
        
       
    }
    .buttons__busca, .cabecalho_button,.principal__div,.principal__sessao__div__interno__span{
       
        font-size:1.2rem;

    }
    .Masculino_Feminino{
        
        font-size: 1.1rem;
    }
    .span__img{
        width:234px;
    }
    
    
    /* fimm */

}
@media(max-width:808px){
    /* mudando o tamanho das fonts */
    .principal__div2, .buttons__busca,.cabecalho_button,.principal__div,.principal__sessao__div__interno__span,.Masculino_Feminino{
       
        font-size:1rem;
        
       
     }
     .cabecalho_titulo{

       
        font-size: 1.5rem;
        
    
    }
    /* fimm */
    header{
        
        margin-right: 10%;
        
    }
    .cabecalho__div__img, .principal__sessao__div__img{
        display:none;
    }
    .cabecalho__div__img{

        width: calc(79px - 10px)
    
    }
    .span__img{
        width:150px;
    }
    .rodape__div{
        height: 500px;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

}
@media(max-width: 465px){
    .principal__div2, .buttons__busca,.cabecalho_button,.principal__div,.principal__sessao__div__interno__span,.Masculino_Feminino{
       
        font-size:0.7rem;
        
       
     }
     .cabecalho_titulo{

       
        font-size: 1.2rem;
        
    
    }
    .rodape__div{
        font-size: 0.9rem;
    }
    .principal__sessao__div__interno{
        gap:20px;
    }

}
.button_zap{
    color: black;
    
}
.rodape__div__link{
    color:black
}