/*  Font: taviraj  700  */
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@700&display=swap');

/* Font: Proza Libre 700 */
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@700&display=swap');

/* Font: Sarala 700 */
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');

:root{
    --titulo: 'Taviraj', serif;
    --subTitulo: 'Proza Libre', sans-serif;
    --texto: 'Sarala', sans-serif;
    --tamanho: 700;

    --fundo:#131B23;
    --laranja:#FE7F2D;
    --verdeClaro:#61988A;
    --cinza:#627C85;
    --branco:#b1b4b7;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    
}
body{
    background-color: var(--fundo);
    
}
header{
    display: flex;
    align-items: center;
    padding: 5% ;
    justify-content: center;
    width: 100%;
    gap:40%;
    /* flex-wrap: wrap; */
}
.cabecalho__divP{
    display: flex;
    align-items: center;
    gap:42px
}

.cabecalho__div__img{

    width: 79px

}

.cabecalho_titulo{

    font-family: var(--titulo);
    font-weight: var(--tamanho);
    color:white;
    font-size: 2.2rem;
    

}
.cabecalho__divB{
    display: flex;
    text-align: center;
    gap:30px;
}
.cabecalho_button{

    font-family: var(--subTitulo);
    font-weight: var(--tamanho);
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    padding: 12px 2%;
    background-color: var(--verdeClaro);
    border-radius: 20px;
    

}
.principal{

}
.principal__div{
    background-color:var(--branco) ;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 150px 0px;
    font-family: var(--subTitulo);
    font-weight: var(--tamanho);
}
.principal__div2{
    color:white;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size:1.9rem;
    font-family: var(--subTitulo);
    font-weight: var(--tamanho);
}
.principal__sessao{
    display: flex;
    width: auto;
}

.principal__sessao__div__img{
    width: 20%;
}

.principal__sessao__div__interno{
    display: flex; 
    gap:100px;
    padding:5%;
    width: auto;
    
}
.principal__sessao__div__interno__span{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:white;
    font-family: var(--texto);
    font-size: 25px;

}
.rodape{
    /* background-color: var(--cinza);
    padding: 184px 40px; */

}
.rodape__div{
    background-color: var(--cinza);
    padding: 5% 40px;
    display: flex;
    font-family: var(--texto);
    font-weight: var(--tamanho);
    justify-content: center;
    gap: 200px;
}

@media(max-wdith:1536px){
    
}